html
  head
    title Video Layout - #{title}
    link(rel='stylesheet' href='../css/styles.css')
    script(src='/socket.io/socket.io.js')
    script(src='../script/socket.io.js')

  body
    block content
